@using StaffManagementApp.ViewModel;
@model UpdateUserVM

<div class="container">
    <h1>Update User</h1>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Staff.Id" hidden />
        <input asp-for="Staff.ImageURL" hidden />
        <input asp-for="Staff.TeamId" hidden />

        <div class="form-group">
            <label asp-for="Staff.Name">Name</label>
            <input asp-for="Staff.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Staff.Birthday">Birthday</label>
            <input asp-for="Staff.Birthday" type="date" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Staff.Hobbies">Hobbies</label>
            <input asp-for="Staff.Hobbies" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Staff.Email">Email</label>
            <input asp-for="Staff.Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Staff.TeamId">Team</label>
            <select asp-for="Staff.TeamId" class="form-control">
                <option value="">-- Select Team --</option>
                @foreach (var teamName in Model.TeamNames)
                {
                    <option value="@teamName">@teamName</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Staff.ImageURL">Profile Image</label>
            <input asp-for="Staff.ImageURL" name="file" type="file" class="form-control-file" />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to User List</a>
    </form>
</div>